    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
       
      *{
         margin: 0px;
         padding: 0px;
         font-family: 'Raleway', sans-serif;
         scroll-behavior: smoth-scrolling;
         
        }
        
          body{
          background-color: #032130;
          
        }
        header{
          
          overflow: hidden;
         }
         nav{
           width:100%;
           height: 37px;
           background-color: #26464e;
           overflow: hidden;
           position: static;
           display: flex;
           justify-content: space-between;
           overflow: hidden;
         }
           
         
      #logo{
           color:#7DDBC3;
           margin-top: 7px;
           margin-left: 7px;
           font-family: 'Raleway', sans-serif;
           font-style: italic;
           padding-left: 3%;
           width:60%;
          }
          span{
          color: #BD46D6 ;
           
         }
       #nav-link{
           display:flex;
           overflow: hidden;
           margin-top: 8px;
           width: 40%;
           margin-right:5%;
           list-style-type: none;
           }
         #nav-link li {
               margin-left:12%;
               
            }
           #nav-link li a{
             text-decoration: none;
             color: white;
             font-size: 11px;
           }
           #nav-link li a:hover{
             color: black;
             background-color: white;
          transition-duration: 0.1s;
            border-radius: 2px;
           
           }
           
           
       #hdr-img{
          background-image: url('/img14.jpg');
         overflow: hidden;
           width:100%;
           height:500px;
           opacity: 0.9;
             
        }
      .hdr-img-title{
           margin-top: 32%;
           margin-left:15% ;
           color: #cfebf2;
           overflow: hidden;
           font-style: italic;
           letter-spacing: 8px;
           line-height: 39px;
         }
       .spn-hdr-title{
           color: #95b5bc;
           font-size:37px ;
           font-weight: bold;
           letter-spacing: 5px;
         }
        .title2{
          font-size:7px ;
          color: white;
          margin-top:56%;
          margin-left:10px;
          font-style: italic;
        }
              
      #section{
           margin-top:10px;
           width:100%;
           height:300px;
           display:flex;
           flex-direction: row;
           overflow: hidden;
           justify-content: space-between ;
           justify-content: space-around;
           background-color:white;
           
          }
         .sec-dv{
            width:46%;
            height: 200px;
            padding-top:13%;
            color: black;
            overflow: hidden;
            display:flex;
            flex-direction: column;
            align-items: center;
           
           
          }
       .logo2{
            margin-top: 1px;
            padding:10px;
            
          }
          
            .pr{
            font-size: 10px;
            text-align:center;
            padding:8px;
          }
          h2{
            font-size: 16px;
          }
          
      #section2{
         width:100%;
         height:400px;
         background-color:#2d525c;
         background-image:url('/img5.jpg') ;
         opacity: 0.8;
         background-repeat: no-repeat;
         background-size: 100%;
         overflow: hidden;
         }
      
      #section3{
        width:100%;
        height:300px;
        background-color:#D4E2E6;
        overflow: hidden;
      }
      
          .why-me-title{
        color:;
        font-size:21px ;
        font-weight: bold;
        margin-left:36%;
        margin-top:6%;
      }
      
      #section4{
        width:100%;
        height:460px;
        background-color:#D7E3E6;
        background-image:url('/img6.jpg') ;
        opacity: 0.8;
        background-repeat: no-repeat;
         background-size: 100%;
         overflow: hidden;
      }
      #section5{
        width:100%;
        height:500px;
        background-color: #A6AEBF;
        overflow: hidden;
      }
       
      
      
      
      
      .glr-hdr{
                  font-size: 20px;
                  margin-top: 20%;
                  margin-left: 35% ;
                  letter-spacing: 2px;
                   font-weight: bold;
                   font-style: italic;
                   text-shadow: 6px 5px 5px #8CA9E0;
                 }

						
						
		 	 #glry1{
               
               overflow: hidden;
               display: flex;   
               margin-top: 10%;
               margin-left: 3%;
         
               width: 94%;
               height:190px ;
               justify-content:space-between ;
            	 }
              
              .glry-img{
                    width: 43%;
                    height: 180px;
                  
                    
                    }
                    
                .img-hvr{
                 border-radius: 4px;
                 width: 100%;
                 height: 140px;
                 } 
                 
           
               
              .glry-img:hover{
              background-color: white;
               
               box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius:10px ;
              }
  		   .grly-img-title{
  		    font-size: 15px;
  		    font-weight: ;
  		    color: ;
  		    margin-left:20px;
  		    margin-top:7%;
  		    text-shadow: 6px 5px 5px #8CA9E0;
  		     }
      
      
      #section6{
   
        width:100%;
        height:340px;
        
        background-image:url('/img2.jpg')  ;
        margin-top:40%;
        margin-bottom:10%;
        opacity: 0.8;
        background-repeat: no-repeat;
         background-size: 100%;
        
      
        overflow: hidden;
      }
      .dlvry-title{
            margin-top:18%;
            font-size: 23px;
            color: ;
            margin-left: 8%;
            font-weight: bold;
           letter-spacing: 5px;
           font-style: italic;
           text-shadow: 6px 5px 5px #8CA9E0;
          }
      
      footer{
        
        width:100%;
        height:100px;
        background-color:#032130;
        text-align: center;
        overflow: hidden;
        margin-top: 20%;
        border-top:1px solid darkgreen;
      }
      
      .ftr{
        margin-top: 8%;
        color:white;
        font-style: italic;
        font-size: 13px;
      }
      
      
    
      
      
    
    
  /*@media Query Css 🐒🙄*/
  
  
      
  @media  screen and (min-width:700px){
 
 nav{
    height: 48px;
  }
  #logo{
    
    font-size: 26px;
    margin-top:7px;
  }

 #nav-link {
      margin-right:5%;
    margin-top:16px;
  }
  
  #nav-link li a{
       font-size:17px;
       
        }
        
  #hdr-img{
  
  overflow: hidden;

   }

    .hdr-img-title{
           margin-top: 14%;
           margin-left:32% ;
           line-height: 65px;
           color:white;
           font-size: 36px;
         }
         .title2{
          font-size:11px ;
          margin-left:5%;
          margin-top:15%;
          
          
        }
     .spn-hdr-title{     
              font-size: 45px;
        
         }  
              
  #section{
    padding-top:5%;
  }
  
  .sec-dv{
       padding-top:5%;
     }
    
     .pr{
         font-size: 14px;
         
          
          }
    body{
      background-color: #F7F8F9;
      
    }
    
    
    #section2{
      height: 600px;
    }
      #section3{
        width:100%;
        height:600px;
        background-color:#DBE7EF;
        margin-top:10%;
      }
  #section4{
    margin-top:10%;
    height: 600px;
  }
  #section5{
    margin-top:30%;
    height: 660px;
    background-color:#DAF1FC;
  }
 
 
 	 #glry1{
  		   
  		   justify-content: space-around;
  		   height: 204px;
  		 }
  		 
         .grly-img-title{
  		    font-size: 17px;
  		    font-weight: bold;
  		    color: ;
  		    margin-left:25%;
  		    margin-top:5%;
  		    text-shadow: 6px 5px 5px #8CA9E0;
  	
  	       }
  		     
  	     .glry-img{
                 width: 39%;
                 height: 203px;
                
                 overflow: hidden;         
               box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                    
                .img-hvr{
                 border-radius: 4px;
                 width: 100%;
                 height: 153px;
                 overflow: hidden;
                 } 
                 
           	     
  		     
  		     
  #section6{
    height:600px ;
    
  }
   .dlvry-title{
     margin-left:30%;
     font-size: 29px;
   }
   
  
  
  footer{
    margin-top:40%;
  }
  .ftr{
    margin-top:3%;
    font-size: 19px;
  }
  
}